---
layout: page
title: "Notes"
permalink: /notes/
---

{% assign grouped = site.notes | group_by: "folder" %}

{% for group in grouped %}
  {% if group.name != "" %}
- **{{ group.name }}**
    {% for note in group.items %}
  - [{{ note.title }}]({{ note.url }})
    {% endfor %}
  {% else %}
    {% for note in group.items %}
- [{{ note.title }}]({{ note.url }})
    {% endfor %}
  {% endif %}
{% endfor %}

	<p class="feed-recomendation">
		Páčil sa vám príspevok? Prihláste sa na <a href="{{ site.baseurl }}feed/">odber</a>!! (V procese...)
	</p>

  {% include disqus.html %}

</div>
